
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>

<h1>Successfully Added Employee Details</h1>

<div>
    @Html.ActionLink("Back to Registeration", "Index") |
    @Html.ActionLink("Back to Data", "DisplayData")
</div>

